*{
  box-sizing: border-box;
}

.App {
text-align: center;
padding: 20px;
}
nav {
  background-color: #3f62a1; 
}
  
nav a {
  color: #fff;
  margin-left: 20px;
  position: relative;
  right: 40%;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1{
  color: #3f62a1;
}
h4{
  color: #3f62a1;
}
ul {
  list-style-type: none;
  padding: 10px;
}
li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
  background-color: #3f62a1;
  padding: 20px 18px;
  color: #fff;
}
button {
  background-color: #7f94bb;
  border: 0;
  outline: 0;
  padding: 8px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
    background-color: #587cbe;
}